body {
    background-image: url('https://images.app.goo.gl/KShRmSSb2Xex6h9FA');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #FFFFFF; /* Text color */
}
